html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
body {
  margin: 0;
}
header {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  padding: 15px;
  z-index: 10;
}
header img {
  width: 400px;
  cursor: pointer;
}
header ul {
  float: right;
  color: white;
  margin-right: 40px;
}
header li {
  display: inline-block;
  padding: 0px 15px;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  cursor: pointer;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 200px 15px;
  background-image: url("../images/Scrolling Banner.png");
  background-size: cover;
  animation: animation 100s linear infinite;
}
@keyframes animation {
  100%{
    background-position:1000px 1000px;
  }
}
.content {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 12px 12px #424EDE;
}
.content img {
  box-shadow: 5px 10px 20px #888888;
  border-radius: 100%;
}
h1 span {
  background-color: #424EDE;
  padding-left: 5px;
  padding-right: 5px;
}
button {
  padding: 15px;
  background-color: #424EDE;
  color: white;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
footer {
  background-color: #BCD1FF;
  padding: 5px 5px 5px 20px;
}
footer h4 {
  color: #424EDE;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 0px;
}
footer ul {
  list-style: none;
  padding-left: 15px;
  color: #424EDE;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
footer li {
  display: flex;
  padding-top: 5px;
}
.heading {
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}
.scrollPoint {
  height: 30px;
}
/* My UX Skills Section */
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
.flexContainer {
  display: flex;
  padding: 60px 30px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
  text-align: center;
}

/* My Tools Section (placeholder) */
  
/* My Work Section */
.myWork h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: white;
}
.workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px 450px 450px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 50px;
  width: 100%;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
@media only screen and (max-width: 600px) {
  header ul {
    display: none;
  }
  .workGrid {
    grid-template-rows: 450px 450px 450px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "img1"
    "content1"
    "img2" 
    "content2"
    "img3" 
    "content3"
    ;
  }
}
  